@font-face {
    font-family: 'Iran-Yekan';
    src: url('woff2/IRANYekanXNoEn-Regular.woff2') format('woff');
    font-weight: normal;
}
body {
    font-family: "Iran-Yekan", 'Segoe UI', sans-serif;
    direction: rtl;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.resume-container {
    width: 794px;
    height: 1123px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.over-header {
    background-image: linear-gradient(to bottom right, #20578156, #98d2c059);
    padding: 10px;
    border-radius: 9px;
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.header-container .profile_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}
.header-text {
    flex-grow: 1;
    text-align: right;
}
h1 {
    color: #333;
    margin: 0;
}
h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    color: #007bff;
}
section {
    margin-bottom: 20px;
    width: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background: #e7f1ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.language-skill {
    display: flex;
    justify-content: space-between;
    background: #e7f1ff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}
footer {
    text-align: right;
    margin-top: 20px;
    width: 100%;
}
a {
    color: #007bff;
    text-decoration: none;
}
@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    .resume-container {
        width: 100vw;
        height: auto;
        border-radius: 0;
        box-shadow: none;
        padding: 15px;
    }
    .header-container {
        flex-direction: column;
        text-align: center;
    }
    .header-container .profile_image {
        margin-bottom: 10px;
    }
    .header-text {
        text-align: center;
    }

}